// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.page-header {
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @include respond-to(xl) {
    margin: 0 417.5px;
  }

  &__container {
    padding: 40px 0 30px 10px;
    margin: auto;

    @include respond-to(xl) {
      display: flex;
      margin: 0;
      justify-content: space-between;
    }
  }

  &__logo {
    @include respond-to(xl) {
      width: 33%;
    }
    img {
      height: 76.56px;
      width: 247px;
    }
  }

  &__phone {
    display: none;

    @include respond-to(xl) {
      display: block;
      font-family: 'Roboto Mono';
      width: 33%;
      a {
        color: #959595;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__links {
    display: none;

    @include respond-to(xl) {
      display: block;

      ul {
        display: flex;
      }

      li {
        border-right: 2px solid $brand-color;
        padding: 5px;
        height: 20px;
        line-height: 9px;

        &:last-child {
          border: none;
        }
      }

      a {
        font-family: 'Roboto Mono';
        font-size: 13px;
        color: #959595;
      }
    }
  }

  &__nav {
    display: none;
    position: absolute;
    top: 209px;
    left: 0px;
    width: 100%;
    background: #f8f8f8;
    z-index: 1;
    border-top: 2px solid #e7e7e7;

    ul {
      display: flex;
      flex-direction: column;
      li {
        font-size: 15px;
        padding-top: 35px;
        font-weight: 500;
        text-transform: uppercase;
        height: 85px;
        text-align: center;

        &:hover {
          border-bottom: 3px solid $brand-color;
        }

        .active {
          border-bottom: 3px solid $brand-color;
        }

        a {
          color: $header-color;
          //opacity: 0.6;
          font-family: 'Oswald';
          // font-size: 14px;
        }
      }
    }
  }

  &__large {
    display: none;

    @include respond-to(sm) {
      border-top: 2px solid #e7e7e7;
      display: flex;
    }

    .header-menu {
      display: flex;
      margin: auto;

      li {
        margin: 0 10px;
        padding: 35px 20px 20px 20px;

        a {
          font-family: 'Oswald';
          font-size: 15px;
          color: $header-color;
          text-transform: uppercase;
        }
      }
    }
  }
}

.top {
  width: 100%;
  height: 4px;
  background: $brand-color;
}

.scrolled {
  background: #fff;
  transition: 0.5s ease-in;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  margin: auto;

  .page-header__container {
    display: none;
  }

  .page-header__nav {
    top: 65px;
  }
}
